// colors
//lightest --> darkest

$color-white: #FFFFFF;

$color-primary-50: #eceeff; // Lightest (Subtle backgrounds)
$color-primary-100: #dce0ff;
$color-primary-200: #c0c5ff;
$color-primary-300: #9aa0ff;
$color-primary-400: #7672ff;
$color-primary-500: #6352ff;
$color-primary-600: #6141f9;
$color-primary-700: #4926dc; // use this as primary background color for button
$color-primary-800: #3b22b1;
$color-primary-900: #34248b;
$color-primary-950: #201551;


//$color-success: #5fc524;

$color-success-50: #f2fce9;
$color-success-100: #e1f9ce;
$color-success-200: #c4f2a4;
$color-success-300: #9ee86e;
$color-success-400: #7cd942;
$color-success-500: #5fc524;
$color-success-600: #459818;
$color-success-700: #367417;
$color-success-800: #2e5c18; //use as background
$color-success-900: #294f18;

//$color-warning: e8a813;

$color-warning-50: #fdfae9;
$color-warning-100: #fbf3c6;
$color-warning-200: #f9e68f;
$color-warning-300: #f9e68f;
$color-warning-400: #f0ba1f;
$color-warning-500: #e8a813;
$color-warning-700: #9a590e;
$color-warning-800: #804613;
$color-warning-900: #6d3a16;


//$color-error: #d63817;

$color-error-50: #fef4ee;
$color-error-100: #fde6d7;
$color-error-200: #facaae;
$color-error-300: #f6a57b;
$color-error-400: #f17646;
$color-error-500: #ed5322;
$color-error-600: #d63817;
$color-error-700: #b82a16;
$color-error-800: #932319;
$color-error-950: #762018;



$color-card-bg: #fafafa;