dialog {
    margin: 0 auto;
    margin-top: 50px;
    position: fixed;
    top: 0;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }
}


.modal-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 200px;
}