<div class="toaster-container">
    @for(toast of toasts(); track toast.id){
    <div class="toast" [ngClass]="'toast--' + toast.type" animate.enter="toast-enter" animate.leave="toast-leave">
        <div class="toast-icon">
            <fa-icon [icon]="getIcon(toast.type)"></fa-icon>
        </div>
        <div class="toast-content">
            <div class="toast-title">{{toast.title}}</div>
            <div class="toast-message">{{toast.message}}</div>
        </div>

        <button class="close-btn" (click)="removeToast(toast.id)">x</button>
        <div class="toast-loader"></div>
    </div>
    }
</div>