   @use "sass:color";

   @use '../palette' as c;
   @use '../settings' as s;

   @mixin auth-form-styles {
       .login-wrapper {
           background-color: c.$color-card-bg;
           min-height: 100vh;
           width: 100%;
           display: flex;
           align-items: center;
           justify-content: center;
       }

       .login-card {
           background-color: c.$color-white;
           width: 100%;
           max-width: 400px;
           padding: 40px;
           border-radius: s.$br-round;
           //box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
           box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

           display: flex;
           flex-direction: column;
           gap: 30px;

           &__header {
               text-align: center;

               h1 {
                   margin: 0;
                   font-size: 24px;
                   color: #1a1a1a;
               }
           }

           &__footer {
               text-align: center;
               font-size: 14px;
               color: #666;

               a {
                   color: c.$color-primary-700;
                   text-decoration: none;
                   font-weight: 500;

                   &:hover {
                       text-decoration: underline;
                       cursor: pointer;
                   }
               }
           }

       }

       .login-form {
           display: flex;
           flex-direction: column;
           gap: 20px;

           &__group {
               display: flex;
               flex-direction: column;
               gap: 8px;

               label {
                   font-size: 14px;
                   font-weight: 500;
                   color: c.$color-primary-800;
               }

               input {
                   padding: 12px 16px;
                   border: 1px solid #d1d5db;
                   border-radius: s.$br-round;
                   font-size: 16px;
                   transition: all 0.2s ease;

                   &:focus {
                       outline: none;
                       border-color: c.$color-primary-700;
                       box-shadow: 0 0 0 3px rgba(c.$color-primary-700, 0.1); // Soft focus ring
                   }
               }
           }


           &__button {
               background-color: c.$color-primary-700;
               color: c.$color-white;
               font-size: 16px;
               font-weight: 600;
               border: none;
               padding: 14px;
               border-radius: s.$br-round;
               cursor: pointer;
               margin-top: 10px;
               transition: background 0.2s;

               &:hover {
                   //background-color: darken(c.$color-primary-700, 5%);
                   background-color: color.adjust(c.$color-primary-700, $lightness: -5%);
               }

               // Styles applied only when the button is disabled
               &:disabled {
                   // background-color: #ccc; // Neutral grey
                   // color: #888;
                   cursor: not-allowed;
                   opacity: 50%;
               }
           }

       }
   }