body {
    font-family: 'Karla', sans-serif;
}



$color-pale-green: hsl(148, 38%, 91%);
$color-green: hsl(169, 82%, 27%);
$color-red: hsl(0, 66%, 54%);
$color-white: hsl(0, 0%, 100%);
$color-light-teal: hsl(186, 15%, 59%);
$color-dark-teal: hsl(187, 24%, 22%);